@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');


/* SVG Container */
.Container {
  width: "120px";
  height: "120px";
   overflow: "hidden";
   box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
} 

.Container:hover{
  box-shadow: 0 3px 10px rgba(180, 95, 255, 0.6);
}



.dropdown, option {
    background-color: #f2f2f2;
    color: #333;
    border: solid 2px;
    padding: 10px 10px;
    border-radius: 7px;
    margin: 2px;
    cursor: pointer;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 900;
    font-size: medium;
    color: black;
  }

  .dropdown1 {
    background-color: #f2f2f2;
    color: #333;
    border: solid 2px;
    padding: 5px 4px;
    border-radius: 7px;
    margin: 10px;
    cursor: pointer;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 900;
    font-size: medium;
    color: black;
  }

  h2 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: larger;
   margin-bottom: 40px;
   /* margin-top: ; */
  }
  
  .dropdown:hover {
    background-color: #ddd;
  }
  
  button {
    background: none;
    border: none;
  }
  